<footer>
  <div class="Footer_Container">
    <br><br>
    <!---------------- Debut Section Newsletters ------------->
    <div class="Section_Footer_Newsletters">
      <div class="Section_Footer_Containt">
        <div class="Section_Footer_Newsletters_Text">
          <h2>Inscrivez-Vous a la NewsLetters</h2>
          <p>Inscrivez-vous recevoir toutes les
            nouvelles Actualités !</p>
        </div>
        <div class="Section_Footer_Newsletters_Input">
          <input type="e-mail" placeholder="Saisissez Votre e-mail" id="email">
          <button id="incription1">S'inscrire</button>
        </div>
      </div>
    </div>
    <!--------------- Fin Section Newsletters --------------->
    <div class="Section_Footer">
      <div class="Section_Footer_logo">
        <h3>Guindiko</h3>
        <p>Guindio vous forme aux métiers du numérique, développement web et mobile, digitalisation</p>
        <span><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-square-instagram"></i><i
            class="fa-brands fa-facebook"></i><i class="fa-brands fa-linkedin"></i></span>
      </div>
      <div>
        <h3>Liens Utiles</h3>
        <p><a href="">Contact</a></p>
        <p><a href="">Evenement</a></p>
        <p><a href="">Orientation</a></p>
      </div>
      <div>
        <h3>FAQ</h3>
        <p><a href="">Qui sommes nous ?</a></p>
        <p><a href="">FAQ</a></p>
      </div>
      <div>
        <h3>Autre</h3>
        <p><a [routerLink]="['/mention-legale']">Mention Légale</a></p>
        <p><a [routerLink]="['/condition-utilisation']">Confidentialité</a></p>
        <p><a [routerLink]="['/confidentialite']">Condition d'utilisation</a></p>
      </div>
    </div>
    <br><br>
    <hr style="width: 80%; margin: auto;">
    <p class="Copyright">Copyright &nbsp;<i class="fa-solid fa-copyright"></i> &nbsp;2023 Simplon Education.</p>
    <br>
  </div>
</footer>
<!----------------Fin Section Footer ------------------->

