<!-- <p>mentor works!</p> -->
<app-header></app-header>
<div class="container">

  <div class="container_left">
    <div class="section_header">
      <div class="btn-section">
        <p class="btn btn1">Disponible</p>
        <p class="btn btn2">Non Disponible</p>
      </div>
      <div class="section_search">
        <form action="">
          <input type="text" placeholder="Cherchez un mentor">
          <button>search</button>
        </form>
      </div>
    </div>
    <div class="Card_Mentor">
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor1.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor2.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor2.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor1.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor1.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
      <div class="card1">
        <div class="section_left">
          <img src="assets/mentor2.jpg" alt="">
        </div>
        <div class="section_right">
          <p>Nom: <span id="prop">Fall Bah</span></p>
          <p>Spécialité: <span id="prop">Data Scientiste</span></p>
          <p>Email: <span id="prop">Fall@gmail.com</span></p>
          <p>Année Experience: <span id="prop">5 ans</span></p>
          <button class="btn btn-secondary">Consulter Profil</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container_right">
    <p>ceci est une section</p>
  </div>


</div>
<br><br>
<app-footer></app-footer>
