<div class="mainContent">
  <div class="mainContentTop">
    <div class="logo">
      <img routerLink="acceuil-mentor" src="assets/logo-white.png" alt="" />
    </div>
  </div>
  <div class="mainContentMiddle">
    <ul class="mainContentMiddleMenu mt-5 list-unstyled">
      <li
        routerLink="acceuil-mentor"
        routerLinkActive="activeMenu"
        class="menuItem"
      >
        <i class="bx bxs-dashboard me-4 icon"></i>Tableau de bord
      </li>
      <li
        routerLink="gestion-session"
        routerLinkActive="activeMenu"
        class="menuItem"
      >
        <i class="bx bxs-calendar-event me-4 icon"></i>Gestion des sessions
      </li>
      <li
        routerLink="gestion-mentore"
        routerLinkActive="activeMenu"
        class="menuItem"
      >
        <i class="bx bxs-user  me-4"></i>Gestion des mentorés
      </li>

    </ul>
  </div>
  <div class="mainContentBottom">
    <div class="logout p-1 ps-3">
      <i class="bx bx-log-out-circle me-3"></i><button>Se deconnecter</button>
    </div>
  </div>
</div>
