/* Declaration des variable pour les couleurs */
/* :root {
  --main-color: #CE0033;
  --second-color: #F3F3F3;
  --third-color: white;
} */
.Container_action_Contact {
  background-image: url("assets/bannierehome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  /* position: relative; */
  margin-top: 150px;
}

.Section_etape {
  margin-top: -70px;
  width: 100%;
  height: 680px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* justify-content: center; */
  padding: 2em;
  flex-wrap: wrap-reverse;
}

.section_etape_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section_etape_left img {
  /* width: 200px;
  height: 200px; */
}

.section_etape_right {
  background-image: url("assets/jeune.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  width: 500px;
  border-radius: 10px;
  /* padding: 2em; */
}

.Section_Programme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  padding: 3em;
  line-height: 30px;
}

.programme_image img {
  width: 490px;
  height: 450px;
}

.Setion_programme_right button {
  border: none;
  background-color: #0E918C;
  color: white;
  width: 300px;
  height: 45px;
}

.programme_titre {
  width: 340px;
  font-size: 20px;
  font-weight: bold;
}

#besoin {
  color: #0E918C;
}

.Section_Mentorat {
  display: flex;
  /* grid-template-columns: 60% 20%; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 3em;
  background-color: #F5F5F5;
  gap: 30px;
}

.Section_Mentorat_Left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 600px;
}

.card_Mentorat {
  background-color: white;
  padding: 0.6em;
  border-left: 4px solid black;
  width: 260px;
  height: 150px;
}

.Section_Mentorat_Right {
  background-image: url("assets/diplome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  width: 500px;
  border-radius: 10px;
}

/* debut mentorat */
.menton_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;

}

.card_mentor {
  width: 300px;
  height: 320px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  border-radius: 20px;
  margin-bottom: 20px;
}

.mentor_img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.mentor_information {
  text-align: center;
}

.mentor_information button {
  border: none;
  background-color: #0E918C;
  color: white;
  padding: 0.5em;
  width: 200px;
}

#voir {
  border: none;
  background-color: #0E918C;
  color: white;
  padding: 0.5em;
  width: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

#Mentor_head {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 2em;
}

/* fin  */

/* Debut impact  */
.impact #contain-impact {
  background-image: url("assets/bannierehome.jpg");
  background-size: 100%;
  height: 350px;
  background-position: center;
}

.impact .banner-container {
  background-color: #16dfb07b;
  height: 350px;
  padding: 6.9em;
}



.impact .contain-chiffre-impact {
  display: flex;
  /* border: 4px solid green; */
  width: 90%;
  margin: auto;
}

.impact .chiffre-impact {
  border-right: 2px solid white;
  width: 30%;
  padding: 0 20px 0 20px;
}

.impact #chiffre-except {
  border: none !important;
}

/* Fin impact  */

.Section_partenaire {}

.card_partenaire {
  width: 300px;
  height: 170px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  /* border-radius: 20px; */
  margin-bottom: 20px;
}

.partenaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Section_partenaire p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card_partenaire img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

/* debut avantage */
.Container_Section_avantage {
  padding: 3em;
}


/* stylisation last section */
.grid-contain-last-section {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;

}

.paragraphe-last-section,
.image-last-section {
  height: auto;
  text-align: justify;
}

.Avantages_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.section_avantage {
  background-color: white;
}


/* Media queries */
@media (max-width: 767px) {

  #grid-contain-approche {
    display: grid;
    grid-template-columns: 2fr;
    /* gap: 6vh; */
    padding: 20px
  }


  .banierre h1 {
    font-size: 4vh;
  }

  .grid-contain-piliers {
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
  }

  /* stylisation de la premiere section */
  .grid-contain-pedagogie {
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: 100%;
  }

  .titre-pedagogie {
    /* border: 3px solid green; */
    margin-left: 5vh;
    margin-top: 20vh;
    height: 130px;
    width: 70%;
    /* background-color: var(--main-color); */
  }

  /* last section */
  .grid-contain-last-section {
    display: grid;
    grid-template-columns: 2fr;

  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  #grid-contain-approche {
    display: grid;
    grid-template-columns: 2fr;
    /* gap: 6vh; */
    padding: 20px
  }


  .grid-contain-piliers {
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 100%;
    gap: 40px;
  }

  /* last section */
  .grid-contain-last-section {
    display: grid;
    grid-template-columns: 2fr;

  }
}

/* fin Avantage */
