<app-header></app-header>
<div class="container1">
  <div class="Container_action_Contact">
  </div>
  <div class="Container_Section_avantage">
    <!-- Debut section  -->
    <section>
      <h3 class="text-center mt-3">Les Avantages du mentorat</h3>
      <span class="soulignement"></span>
      <div class="container mb-2 py-3">
        <div class="grid-contain-last-section mt-3">
          <div class="image-last-section">
            <img src="assets/mentorat.jpg" alt="" class="w-100 h-100">
          </div>
          <div class="paragraphe-last-section">
            <h6 class="px-4 fw-bold" style="text-align: center;">Avantages Chez le Mentoré</h6>
            <div class="Avantages_text py-4 px-4">
              <div class="section_avantage" style="width: 250px;">
                <h6>Acquisition de connaissances et d'expérience</h6>
                <p>En étant mentoré, vous pouvez apprendre de quelqu’un qui a plus d’expérience et de connaissances
                  dans un domaine
                  particulier.</p>
              </div>
              <div class="section_avantage" style="width: 250px;">
                <h6>Orientation et conseils personnalisés</h6>
                <p>Un mentor peut vous fournir des conseils spécifiques à votre situation et à vos objectifs, ce qui
                  peut vous aider à
                  prendre des décisions éclairées et à éviter des erreurs courantes.</p>
              </div>
              <div class="section_avantage" style="width: 250px;">
                <h6>Renforcement de la confiance en soi</h6>
                <p>Recevoir le soutien et les encouragements d’un mentor peut renforcer votre confiance en vous et vous
                  aider à surmonter
                  les obstacles.</p>
              </div>
              <div class="section_avantage" style="width: 250px;">
                <h6>Perspective extérieure</h6>
                <p>Un mentor peut vous aider à prendre du recul et à voir votre situation sous un angle différent, ce
                  qui peut être très
                  précieux pour la prise de décision.</p>
              </div>

              <!-- <div class="Setion_programme_right">
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                  <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
                </div> -->
            </div>
          </div>
          <div class="paragraphe-last-section">

            <div class="paragraphe-last-section">
              <h6 class="px-4 fw-bold" style="text-align: center;">Avantages Chez le Mentoré</h6>
              <div class="Avantages_text py-4 px-4">
                <div class="section_avantage" style="width: 250px;">
                  <h6>Acquisition de connaissances et d'expérience</h6>
                  <p>En étant mentoré, vous pouvez apprendre de quelqu’un qui a plus d’expérience et de connaissances
                    dans un
                    domaine
                    particulier.</p>
                </div>
                <div class="section_avantage" style="width: 250px;">
                  <h6>Orientation et conseils personnalisés</h6>
                  <p>Un mentor peut vous fournir des conseils spécifiques à votre situation et à vos objectifs, ce qui
                    peut vous
                    aider à
                    prendre des décisions éclairées et à éviter des erreurs courantes.</p>
                </div>
                <div class="section_avantage" style="width: 250px;">
                  <h6>Renforcement de la confiance en soi</h6>
                  <p>Recevoir le soutien et les encouragements d’un mentor peut renforcer votre confiance en vous et
                    vous aider à
                    surmonter
                    les obstacles.</p>
                </div>
                <div class="section_avantage" style="width: 250px;">
                  <h6>Perspective extérieure</h6>
                  <p>Un mentor peut vous aider à prendre du recul et à voir votre situation sous un angle différent, ce
                    qui peut
                    être très
                    précieux pour la prise de décision.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image-last-section">
            <img src="assets/mentorat.jpg" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="Section_etape">
    <!-- <h4>LE MENTORAT EN <span style="color: aqua;">4 ETAPES</span></h4> -->
    <div class="section_etape_left">
      <div>
        <p style="width: 150px;text-align: center;margin-left: 25px;">Je renseigne mes informations, mon parcours et mes
          besoins</p>
        <img src="assets/etape1.png" alt="">
        <p style="text-align: center;">1 Inscription</p>
      </div>
      <div>
        <p style="width: 150px;text-align: center;margin-left:25px">2 Relation</p>
        <img src="assets/etape2.png" alt="">
        <p style="text-align: center; width: 100px; text-align: center; margin-left: 40px;">je cherche un mentor qui me
          correspond</p>
      </div>
      <div>
        <p style="width: 150px;text-align: center;margin-left: 25px;">j’echange librement avec le mentor qui me
          correspond</p>
        <img src="assets/etape1.png" alt="">
        <p style="text-align: center;">3 Echange</p>
      </div>
      <div>
        <p style="text-align: center;">4 Progrès</p>
        <img src="assets/etape2.png" alt="">
        <p style="text-align: center; width: 150px; margin-left: 25px;">J’avance dans mon projet grace a l’accompagement
          de mon mentor</p>
      </div>

    </div>
    <div class="section_etape_right">
      <p></p>
    </div>
  </div>
  <div class="Section_Programme">
    <div class="Section_programme_left">
      <div class="programme_image">
        <img src="assets/programme1.png" alt="">
      </div>
    </div>
    <div class="Setion_programme_right">
      <div class="programme_titre">
        <p>UN PROGRAMME ADAPDTE A <span id="besoin">TES BESOIN</span></p>
      </div>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p><i class="fa-solid fa-chevron-right"></i> Te soutenir dans ta recherche de stage, d'alternance...</p>
      <p style="font-weight: bold; width: 450px;">Tu crées des objectifs avec ton mentor pour ton programme sur mesure
        pour atteindre tes objectifs !</p>
      <button class="btn ">je trouve mon mentor</button>
    </div>
  </div>

  <div class="Section_Mentorat">
    <div class="Section_Mentorat_Left">
      <div class="card_Mentorat">
        <p>Expertise</p>
        <p>Nous faisons appel à des mentors certifiés pour vous fournir des informations de qualités supérieures.</p>
      </div>
      <div class="card_Mentorat">
        <p>Confiance</p>
        <p>Nous nous efforçons de gagner et de maintenir la confiance de notre communauté.</p>
      </div>
      <div class="card_Mentorat">
        <p>Innovation</p>
        <p>Nous sommes constamment à la recherche de moyens innovants afin d'améliorer nos services.</p>
      </div>
      <div class="card_Mentorat">
        <p>Respect</p>
        <p>Nous incarnons le respect envers le mentor et le mentoré pour garder une cerrtaine transparence.</p>
      </div>
      <div class="card_Mentorat">
        <p>Accessibilité</p>
        <p>Nous croyons que l'orientation professionnelle devrait être accessible à tous, quelle que soit votre
          situation.</p>
      </div>
      <div class="card_Mentorat">
        <p>Empathie</p>
        <p>Nous essayons de comprendre les besoins afin d’amener une solution adéquate.</p>
      </div>
    </div>
    <div class="Section_Mentorat_Right">
      <!-- <img src="assets/diplome.jpg" style="width: 500px; height: 500px;" alt=""> -->
    </div>
  </div>

  <div class="Container_mentor_section">
    <p id="Mentor_head">Vous n'avez pas de Mentor? Pas de panique!</p>
    <!-- <marquee behavior="" direction="left"></marquee> -->
    <div class="menton_section">
      <div class="card_mentor">
        <div class="mentor_img">
          <img src="assets/mentor1.jpg" alt="">
        </div>
        <div class="mentor_information">
          <p>Fall Bah</p>
          <p>Spécialité: IA</p>
          <button>Consulter le profil</button>
        </div>
      </div>
      <div class="card_mentor">
        <div class="mentor_img">
          <img src="assets/mentor12.jpg" alt="">
        </div>
        <div class="mentor_information">
          <p>Fatou Dione</p>
          <p>Spécialité: IA</p>
          <button>Consulter le profil</button>
        </div>
      </div>
      <div class="card_mentor">
        <div class="mentor_img">
          <img src="assets/mentor11.jpg" alt="">
        </div>
        <div class="mentor_information">
          <p>Frederic Bhone</p>
          <p>Spécialité: IA</p>
          <button>Consulter le profil</button>
        </div>
      </div>
    </div>
    <button id="voir">Voir Plus</button>
  </div>

  <!-- Debut section impact -->
  <div class="impact mb-5">
    <section>
      <div id="contain-impact">
        <div class="banner-container">
          <div class="contain-chiffre-impact">
            <div class="chiffre-impact">
              <h1 class="text-white text-center mt-2">25000 <i class="bi bi-plus"></i></h1>
              <p class="text-white text-center">Simploniens et Simploniennes dans le monde</p>
            </div>
            <div class="chiffre-impact">
              <h1 class="text-white text-center mt-2">1577 <i class="bi bi-plus"></i></h1>
              <p class="text-white text-center">Salariés formés aux métiers du numérique par Simplon</p>
            </div>
            <div class="chiffre-impact">
              <h1 class="text-white text-center mt-2">37,6 %</h1>
              <p class="text-white text-center">D'apprenantes formées au sein de nos Fabriques</p>
            </div>
            <div class="chiffre-impact" id="chiffre-except">
              <h1 class="text-white text-center mt-2">75%</h1>
              <p class="text-white text-center">Taux de sorties positives vers l’emploi ou en formation dans le monde
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Fin section impact  -->

  <div class="Section_partenaire">
    <p>Il nous font confiance</p>
    <div class="partenaire">
      <div class="card_partenaire">
        <img src="assets/france8.PNG" alt="">
      </div>
      <div class="card_partenaire">
        <img src="assets/france6.PNG" alt="">
      </div>
      <div class="card_partenaire">
        <img src="assets/france7.PNG" alt="">
      </div>
      <div class="card_partenaire">
        <img src="assets/france8.PNG" alt="">
      </div>
    </div>
  </div>
  <br><br><br>
  <app-footer></app-footer>
