<app-header></app-header>
<div class="Container">
  <div class="Container_action_Contact">
    <!-- <h1>a-propos</h1> -->
    <div class="Section_realisation">
      <p class="btn btn1">A-propos</p>
      <p class="btn btn2">Nos Réalisation</p>
      <div class="section_contenu">
        <p> Chez Guindiko, nous croyons en la puissance de la croissance personnelle et professionnelle grâce au
          mentorat. Notre
          plateforme a été créée avec la vision de connecter des individus ambitieux à des mentors passionnés, afin de
          faciliter
          un échange de connaissances, d'expériences et de conseils.</p>
      </div><br>
      <div class="section_offre">
        <h6>Ce que nous offrons</h6>
        <p> Sur Guindiko, nous mettons en relation des mentors de haut niveau issus de divers domaines d'expertise avec
          des
          individus désireux d'apprendre et de progresser. Que vous soyez un entrepreneur en herbe, un étudiant assoiffé
          de
          connaissances ou un professionnel chevronné cherchant à partager votre expérience, notre plateforme est conçue
          pour
          répondre à vos besoins.</p>
      </div><br>
      <div class="section_approche">
        <h6>Notre Approche</h6>
        <p> Nous croyons en un mentorat personnalisé et adapté à chaque individu. Notre processus d'appariement
          minutieux garantit
          que chaque mentorat est une expérience enrichissante et adaptée aux objectifs spécifiques de chaque mentoré.
        </p>
      </div><br>
      <div class="section_succes">
        <h6>Votre Succès est Notre Priorité </h6>
        <p> Chez Guindiko, nous nous engageons à fournir des ressources de qualité, des outils et un soutien continu
          pour que chaque expérience de mentorat soit aussi enrichissante que possible.</p>
      </div>
    </div>
  </div>
</div>
<div class="section_mission">
  <h4 style="font-weight: bold;text-align: center;">Notre Mission</h4>
  <p> Nous aspirons à rendre le mentorat accessible à tous, offrant ainsi des opportunités de développement personnel et
    professionnel à chaque coin du monde. Nous croyons fermement que chaque interaction de mentorat est une occasion de
    catalyser le succès et de stimuler la croissance.</p>
  <div class="section_stat">
    <div>
      <img src="assets/dixpercent.png">
    </div>
    <div>
      <img src="assets/cinqpercent.png">
    </div>
    <div>
      <img src="assets/cinqcinqpercent.png">
    </div>

  </div>
</div>

<div class="historique">
  <h1 style="text-align: center;">historique</h1>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
  </style>
  <!--This is the main container that contains the whole timeline.-->
  <section class="design-section">
    <div class="timeline">
      <div class="timeline-empty">
      </div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>

      <div class="timeline-component timeline-content">
        <div class="date">2020</div>
        <div class="title">La fondation</div>
        <p>L'histoire de Guindiko prend racine en 2019 avec une vision audacieuse de connecter les esprits passionnés
          par le mentorat. Cette année-là, une équipe déterminée a semé les premières graines de ce qui allait devenir
          une
          plateforme révolutionnaire. Des heures de planification, de discussions et de développement ont permis
          d'établir les
          bases solides nécessaires pour concrétiser cette vision ambitieuse.</p>
      </div>
      <div class="timeline-component timeline-content">
        <div class="date">2021</div>
        <div class="title">Les Premiers Pas</div>
        <div class="descr">Après une année de travail acharné, notre plateforme a finalement vu le jour en version bêta.
          C'était
          un moment
          d'excitation et de nervosité alors que nos premiers utilisateurs rejoignaient notre communauté naissante. Les
          retours
          précieux de ces pionniers ont été d'une importance capitale pour façonner nos futures améliorations et
          orientations.
        </div>
      </div>
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-empty">
      </div>

      <div class="timeline-empty">
      </div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class=" timeline-component timeline-content">
        <div class="date">2022</div>
        <div class="title">expansion et Divérsification</div>
        <div class="descr">Fortifiés par les retours et encouragements de nos premiers utilisateurs, nous avons
          entrepris une
          expansion audacieuse.
          Cette année-là, nous avons diversifié notre offre de mentorat, proposant une palette plus large de domaines
          d'expertise
          pour répondre aux besoins variés de nos utilisateurs grandissants. Cette expansion a été un moment charnière
          dans
          notre
          croissance rapide.</div>
      </div>
      <div class=" timeline-component timeline-content">
        <div class="date">2023</div>
        <div class="title">Inpact et Reussite</div>
        <div class="descr">L'année 2018 a été le témoin de nombreux succès et réalisations pour notre communauté. Les
          récits inspirants de réussite
          et d'impact positif du mentorat sur les vies et les carrières ont alimenté notre détermination à continuer
          d'offrir des
          expériences de mentorat de qualité. Ces histoires de succès sont devenues la pierre angulaire de notre
          motivation.</div>
      </div>
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-empty">
      </div>

      <div class="timeline-empty">
      </div>

    </div>

  </section>
  <br><br><br><br>
  <app-footer></app-footer>

