<div class="container1">
  <div class="Container_Header">
    <div class="first_menu">
      <ul>
        <li>(+221) 76 947 50 73 <span id="mail">Guindikosn@gmail.com</span></li>
        <li class="Social_Media"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i
            class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i></li>
      </ul>
    </div>
    <div class="second_menu">
      <ul>
        <li><img src="assets/logo.png" alt=""> </li>
        <li [routerLink]="['/']">Accueil</li>
        <li>Orientation</li>
        <li><a [routerLink]="['/mentor']">Mentors</a> </li>
        <li><a [routerLink]="['/apropos']">a propos</a></li>
        <li><a >Contact</a> </li>
        <li>Se Connecter</li>
      </ul>
    </div>
  </div>
</div>


