/*----------------- Debut Section Footer ---------------------------- */
.container1 {
  /* width: 100%; */
  /* height:200px; */
}

.Container_Header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.Container_Header .first_menu {
  background-color: #0E918C;
  padding: 0.3em;
  color: white;
  /* position: fixed;
  width: 100%;
  z-index: 5; */
}

.first_menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_menu ul li {
  margin-top: 10px;
}



#mail {
  border-left: 3px solid white;
  padding: 0.3em;
}

.first_menu ul li:last-child i {
  padding: 0.5em;
  background-color: white;
  border-radius: 100%;
  color: #262626;
  margin-left: 7px;
}

.first_menu ul li:last-child {
  margin-right: 20px;
}

.first_menu_section {
  margin-top: 10px;
}

.second_menu {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1em;
  color: black;
  /* z-index: 4;
  position: fixed;
  width: 100%; */
}

.second_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  font-size: 16px;
  margin-top: 10px;
}

.second_menu ul li:first-child {
  position: absolute;
  left: 0;
}

.second_menu ul li img {
  width: 60px;
  height: 60px;
}

.second_menu ul li:last-child {
  position: absolute;
  right: 0;
  background-color: #0E918C;
  padding: 0.8em;
  color: white;
  border-radius: 7px;
  margin-right: 28px;
  width: 130px;
  text-align: center;
}

.second_menu ul li a {
  color: black;
  text-decoration: none;
}

.second_menu ul li:first-child {
  margin-left: 45px;
}

.second_menu ul li a:hover {
  color: #0E918C;
}

.Footer_Container {
  background-color: #262626;
  min-height: 550px;
  color: white;
  width: 100%;
}

.second_menu ul li:not(:last-child):hover {
  color: #0E918C;
  cursor: pointer;
}



/* ------------------------------------ */
.Section_Footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 15px; */
}

.Section_Footer p {
  max-width: 200px;
}

.Section_Footer img {
  width: 30px;
  height: 30px;
}

.Section_Footer .Section_Footer_logo i {
  background-color: white;
  color: #0E918C;
  padding: 0.4em;
  border-radius: 50%;
  margin-right: 10px;
}

.Section_Footer_Newsletters {
  margin: 0 auto;
  background-color: #0E918C;
  width: 75%;
  /* min-height: 100px; */
  padding: 2em;
  border-radius: 15px;
  margin-bottom: 40px;
}

.Section_Footer_Containt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  color: white;
}

.Section_Footer_Newsletters_Input input {
  width: 300px;
  height: 45px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.Section_Footer_Newsletters_Input button {
  width: 100px;
  background-color: black;
  color: white;
  padding: 0.6em;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
}

.Section_Footer_Newsletters_Input input::placeholder {
  margin-left: 20px;
  padding-left: 20px;
}

.Copyright {
  text-align: center;
}

.Copyright i {
  color: #0E918C;
}

.Section_Footer a {
  text-decoration: none;
  color: white;
}

.Section_Footer a:hover {
  color: #0E918C;
}

/*----------------- Fin Section Footer   ----------------------------*/
