<div class="mainContent">
  <!-- les cards -->
  <div class="mainContentTop ps-3 pe-3">
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentorat</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentoré</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentor</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
  </div>
  <div class="mainContentBottom ps-3 pe-3">
    <div class="d-flex align-items-center justify-content-between">
      <div class="buttonAjouter mt-2 mb-3">
        <!-- Button modal Ajouter-->
        <button
          type="button"
          class="btn text-white me-3"
          data-bs-toggle="modal"
          data-bs-target="#ajouteMetier"
          style="background-color: var(--color-primary)"
        >
          Ajouter
        </button>
        <!-- Button modal liste archiver-->
        <button
          type="button"
          class="btn text-white"
          data-bs-toggle="modal"
          data-bs-target="#ajouteMetier"
          style="background-color: var(--color-primary)"
        >
          Liste des metier archiver
        </button>
      </div>
      <div class="champsRecherche mt-2 mb-3 w-50">
        <div
          class="input-group flex-nowrap"
          style="border-color: var(--color-primary)"
        >
          <input
            type="search"
            class="form-control"
            placeholder="Rechercher"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
          <span
            class="input-group-text text-white"
            id="addon-wrapping"
            style="background-color: var(--color-primary)"
            ><i class="bx bx-search fs-3"></i
          ></span>
        </div>
      </div>
    </div>
    <div class="tableSection">
      <table class="table">
        <thead>
          <tr>
            <th
              scope="col"
              class="text-center text-white"
              style="background-color: var(--color-primary)"
            >
              Image
            </th>
            <th
              scope="col"
              class="text-center text-white"
              style="background-color: var(--color-primary)"
            >
              Titre
            </th>
            <th
              scope="col"
              class="text-center text-white"
              style="background-color: var(--color-primary)"
            >
              Débouché
            </th>
            <th
              scope="col"
              class="text-center text-white"
              style="background-color: var(--color-primary)"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              <img
                src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                style="height: 40px; width: 40px; border-radius: 50%"
              />
            </th>
            <td class="text-center">Devellopement web</td>
            <td class="text-center">Devellopeur front-end</td>
            <td class="text-center">
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#detailMentor"
              >
                <i class="bx bxs-show"></i>
              </button>
              <button
                class="btn me-2 text-white"
                style="background-color: var(--color-primary)"
                data-bs-toggle="modal"
                data-bs-target="#modifierMetier"
              >
                <i class="bx bxs-edit"></i>
              </button>
              <button
                class="btn text-white"
                style="background-color: var(--color-primary)"
              >
                <i class="bx bxs-archive-in"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginationSection" style="width: 92.5%">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end paginationItems">
            <li class="page-item disabled text-center" style="width: 70px">
              <a class="page-link"><i class="bx bx-chevron-left"></i></a>
            </li>
            <li
              class="page-item paginationActiveItem text-center"
              style="width: 70px"
            >
              <a class="page-link">1</a>
            </li>
            <li class="page-item text-center" style="width: 70px">
              <a class="page-link">2</a>
            </li>
            <li class="page-item text-center" style="width: 70px">
              <a class="page-link">3</a>
            </li>
            <li class="page-item text-center" style="width: 70px">
              <a class="page-link"><i class="bx bx-chevron-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Modal ajouter -->
<div
  class="modal fade modal-lg"
  id="ajouteMetier"
  tabindex="-1"
  aria-labelledby="ajouteMetierLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-4 fw-semibold text-center w-100"
          id="detailMentorLabel"
        >
          Ajouter un metier
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="">
          <div class="formContainer">
            <div class="formContainerLeft">
              <div class="mb-3 col-12">
                <label for="titre" class="form-label">Titre</label>
                <input
                  type="text"
                  class="form-control"
                  id="titre"
                  name="titre"
                />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" />
              </div>
              <div class="mb-3">
                <label for="debouche" class="form-label">Debouché</label>
                <textarea
                  class="form-control"
                  placeholder="Description"
                  name="debouche"
                  style="height: 50px"
                ></textarea>
              </div>
            </div>
            <div class="formContainerRight">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                placeholder="Description"
                name="description"
                style="height: 100px"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-white w-25"
          style="background-color: var(--color-primary)"
        >
          Ajouter
        </button>
        <button
          type="button"
          class="btn w-25"
          data-bs-dismiss="modal"
          style="
            color: var(--color-primary);
            background-color: white;
            border: thin solid;
          "
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal detailMentor -->
<div
  class="modal fade modal-lg"
  id="detailMentor"
  tabindex="-1"
  aria-labelledby="detailMentorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-4 fw-semibold text-center w-100"
          id="detailMentorLabel"
        >
          Detail du mentor
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body modalContent">
        <div class="modalContentTop">
          <div
            class="modalContentTopImage h-75"
            style="
              background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              background-position: center;
              background-size: cover;
              border-radius: 8px;
            "
          ></div>
          <div class="modalContentTopItems">
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold" style="color: var(--color-primary)"
                >Titre</span
              >
              <p>Le percepteur</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold" style="color: var(--color-primary)"
                >Débouché</span
              >
              <p>Le percepteur</p>
            </div>
            <div class="modalContentBottomItem description h-75">
              <span class="fs-5 fw-bold" style="color: var(--color-primary)"
                >Description</span
              >
              <p class="h-100 overflow-scroll">
                Le percepteur des contributions, l’homme des impositions
                indirectes, l’officier de gendarmerie et deux ou trois autres
                fonctionnaires publics arrivèrent avec leurs femmes. Ils furent
                suivis de quelques libéraux riches. On annonça le dîner. Julien,
                fonctionnaires publics arrivèrent avec leurs femmes. Ils furent
                suivis de quelques libéraux riches. On annonça le dîner. Julien,
                fonctionnaires publics arrivèrent avec leurs femmes. Ils furent
                suivis de quelques libéraux riches. On annonça le dîner. Julien,
                e mauvais goût dont on voulait l’étourdir.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-white w-25"
          data-bs-dismiss="modal"
          style="background-color: var(--color-primary)"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal modifier -->
<div
  class="modal fade modal-lg"
  id="modifierMetier"
  tabindex="-1"
  aria-labelledby="modifierMetierLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-4 fw-semibold text-center w-100"
          id="detailMentorLabel"
        >
          Modifier un metier
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="">
          <div class="formContainer">
            <div class="formContainerLeft">
              <div class="mb-3 col-12">
                <label for="titre" class="form-label">Titre</label>
                <input
                  type="text"
                  class="form-control"
                  id="titre"
                  name="titre"
                />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFile" />
              </div>
              <div class="mb-3">
                <label for="debouche" class="form-label">Debouché</label>
                <textarea
                  class="form-control"
                  placeholder="Description"
                  name="debouche"
                  style="height: 50px"
                ></textarea>
              </div>
            </div>
            <div class="formContainerRight">
              <label for="description" class="form-label">Description</label>
              <textarea
                class="form-control"
                placeholder="Description"
                name="description"
                style="height: 100px"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-white w-25"
          style="background-color: var(--color-primary)"
        >
          Modifier
        </button>
        <button
          type="button"
          class="btn w-25"
          data-bs-dismiss="modal"
          style="
            color: var(--color-primary);
            background-color: white;
            border: thin solid;
          "
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
