<app-header></app-header>
<!---------------Debut Section de votre Contenu ------------------>
<div class="Container_Mention">
  <div class="Container_Mention_Text">
    <div class="Mention_Text_Mention">
      <p><span class="titre">Editeur</span><br>publié par Simplon.co <br> SAS agréée ESUS au capital de 448.390 euros
        <br>
        RCS Bobigny : 792 791 329 00016 br
        Enregistré en tant qu’organisme de formation auprès de la DIRECCTE Ile-de-France sous le numéro 11 93 06676 93.
        Cet enregistrement ne vaut pas agrément de l’État.
      </p>
      <p class="titre">Responsable de la publication</p>
      <p>Frédéric Bardeau joignable sur inbox (at) simplon (point) co</p>
      <p><span class="titre">Hébergement</span> <br> OVH, société par actions simplifiée dont le siège social est au 2
        rue Kellermann, 59100 Roubaix et dont le numéro de téléphone est le 0820 698 765. <br>
        <span id="titre">Design, développement, intégration et déploiement​​​​​​​</span>
        SimplonProd, l'agence web solidaire de Simplon.co <br> <span><a href="" style="color:#CE0033 ;">SimplonProd</a>,
          l'agence web solidaire de Simplon.co</span><br><br>
        <span class="titre">Siège social <br></span> <span>55 rue de Vincennes, 93100 Montreuil</span>
      </p>
      <p><span> Données personnelles et politique de confidentialité</span> <br> Les données personnelles recueillies
        dans le cadre du site de Simplon.co font l’objet d’un traitement par la SAS Simplon.co et ses filiales. Les
        formulaires <br>
        présents sur notre site nous permettent de qualifier votre demande et de l'orienter vers les collaborateurs de
        Simplon.co qui seront à même d'y répondre. Vous <br>
        pouvez choisir de ne pas nous fournir des données, mais certaines sont nécessaires à des fins d’orientation :
        candidature RH, candidature à une formation, <br>
        contact presse, contact pour ouvrir une fabrique, etc. Les données personnelles collectées sont portées à
        connaissance des destinataire des formulaires <br>
        (spécifique selon les formulaires) au sein des directions territoriales, du service formation, de la direction
        générale, et de la direction des ressources. Ces <br>
        différents traitements de données se font sur différentes bases selon la nature des données collectées : des
        traitements opérés sur le fondement légal de <br>
        l'exécution de nos obligations contractuelles, de votre consentement, et enfin sur le fondement de l'intérêt
        légitime (dont l’impact social) poursuivi par <br>
        Simplon.co. En terme de sécurisation : sachez que vos données sont stockées sur des serveurs installés en
        Europe, que les accès à nos locaux sont sécurisés, et <br>
        que l’ensemble de nos contrats de travail, nos contrats avec nos prestataires et nos contrat commerciaux ont été
        mis à jour afin d’y intégrer nos obligations de <br>
        sous-traitants ou de responsables conjoints au sens du RGPD.</p>
      <p>Pour une meilleure prise en compte de l'égalité femmes-hommes et pour ne pas contribuer à la
        sous-représentation des femmes dans la société, ce site <br>
        web et l'ensemble des communications de Simplon font la part belle aux mécanismes du langage ouvert et de
        l'écriture inclusive. <br>
      <p>Nous favorisons donc autant que possible l'emploi des termes épicènes (dont la forme ne varie pas entre le
        féminin et le masculin, comme collègues), de <br>
        la double flexion féminin-masculin (collaborateurs et collaboratrices), l'accord de proximité (qui consiste à
        accorder les mots avec le terme le plus proche <br>
        et non au masculin par défaut), et dans une moindre mesure l'utilisation des points (comme <a href=""
          style="color: #CE0033;">apprenant.es</a> apprenant.es) pour ne pas alourdir la lecture. Pour des <br>
        raisons d'accessibilité, nous ne recourons pas au point médian qui n'est pas lisible par les lecteurs d'écran.
        <br><br>
      <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données sur notre site, vous pouvez
        nous contacter via ​rgpd@simplon.co ou par courrier <br>
        A l’attention de la Délégué.e à la Protection des Données - Simplon.co - 55 Rue de Vincennes - 93 100 Montreuil
      </p>
      <p>Si vous estimez, après nous avoir contactés, que vos droits Informatique et Libertés ne sont pas respectés ou
        n’est pas conforme aux règles de protection des <br> données, vous pouvez adresser une réclamation à la CNIL.
      </p>
    </div>
  </div>


  <br><br><br>
</div>
<!------------Fin Section de votre Contenu ------------------>
<app-footer></app-footer>
