<div class="mainContent">
  <!-- les cards -->
  <div class="mainContentTop ps-3 pe-3">
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentorat</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentoré</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
    <div class="mainContentTopItem p-3">
      <h4 class="text-white fw-bold">Nombre de mentor</h4>
      <div class="d-flex justify-content-between">
        <span class="fs-1 text-white">35</span>
        <span class="fs-1 text-white"><i class="bx bxs-show"></i></span>
      </div>
    </div>
  </div>

  <div class="mainContentBottom ps-3 pe-3">
    <!-- la liste des derniers événements -->
    <div class="mainContentBottomLeft p-3">
      <div class="mainContentBottomLeftTop">
        <h3>Les dernieres événements</h3>
      </div>
      <!-- les card -->
      <div class="mainContentBottomLeftMiddle d-flex justify-content-around">
        <div
          class="card"
          style="width: 15rem; background-color: var(--color-primary)"
        >
          <img
            src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="..."
            style="height: 130px"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Card title</h5>
            <p
              class="card-text text-white"
              style="height: 75px; overflow: hidden"
            >
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              class="btn"
              style="color: var(--color-primary); background-color: white"
              data-bs-toggle="modal"
              data-bs-target="#detailEvenement"
              >Voir detail</a
            >
          </div>
        </div>
        <div
          class="card"
          style="width: 15rem; background-color: var(--color-primary)"
        >
          <img
            src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="..."
            style="height: 130px"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Card title</h5>
            <p
              class="card-text text-white"
              style="height: 75px; overflow: hidden"
            >
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              class="btn"
              style="color: var(--color-primary); background-color: white"
              data-bs-toggle="modal"
              data-bs-target="#detailEvenement"
              >Voir detail</a
            >
          </div>
        </div>
        <div
          class="card"
          style="width: 15rem; background-color: var(--color-primary)"
        >
          <img
            src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="..."
            style="height: 130px"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Card title</h5>
            <p
              class="card-text text-white"
              style="height: 75px; overflow: hidden"
            >
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              class="btn"
              style="color: var(--color-primary); background-color: white"
              data-bs-toggle="modal"
              data-bs-target="#detailEvenement"
              >Voir detail</a
            >
          </div>
        </div>
      </div>
      <!-- le buttons -->
      <div class="mainContentBottomLeftBottom p-3">
        <button
          routerLink="/dashboard-admin/dashboard-admin-evenement"
          class="btn w-100"
          style="color: white; background-color: var(--color-primary)"
        >
          Voir les évenements
        </button>
      </div>
    </div>
    <div class="mainContentBottomRight p-3">
      <h3>La liste des derniers inscrits</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Inscrit à</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>exemple@gmail.com</td>
            <td>Le 12/12/2023</td>
          </tr>
          <tr>
            <td>exemple@gmail.com</td>
            <td>Le 12/12/2023</td>
          </tr>
          <tr>
            <td>exemple@gmail.com</td>
            <td>Le 12/12/2023</td>
          </tr>
          <tr>
            <td>exemple@gmail.com</td>
            <td>Le 12/12/2023</td>
          </tr>
          <tr>
            <td>exemple@gmail.com</td>
            <td>Le 12/12/2023</td>
          </tr>
        </tbody>
      </table>
      <div class="mainContentBottomRightBottom">
        <button
          routerLink="/dashboard-admin/dashboard-admin-mentores"
          class="btn w-100"
          style="color: white; background-color: var(--color-primary)"
        >
          Voir les mentores
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal detail -->
<div
  class="modal fade modal-lg"
  id="detailEvenement"
  tabindex="-1"
  aria-labelledby="detailEvenementLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailEvenementLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body modalContent">
        <div class="modalContentTop">
          <div
            class="modalContentTopImage"
            style="
              background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              background-position: center;
              background-size: cover;
              border-radius: 8px;
            "
          ></div>
          <div class="modalContentTopDescription">
            <span class="fs-5 fw-bold" style="color: var(--color-primary)"
              >Description</span
            >
            <p>
              Le percepteur des contributions, l’homme des impositions
              indirectes, l’officier de gendarmerie et deux ou trois autres
              fonctionnaires publics arrivèrent avec leurs femmes. Ils furent
              suivis de quelques libéraux riches. On annonça le dîner. Julien,
              déjà fort mal disposé, vint à penser que, de l’autre côté du mur
              de la salle à manger
            </p>
          </div>
        </div>
        <div class="modalContentBottom">
          <div class="modalContentBottomItems">
            <span class="fs-5 fw-bold" style="color: var(--color-primary)"
              >Nom</span
            >
            <p>
              Le percepteur
            </p>
          </div>
          <div class="modalContentBottomItems">
            <span class="fs-5 fw-bold" style="color: var(--color-primary)"
              >Lieu</span
            >
            <p>
              Le percepteur
            </p>
          </div>
          <div class="modalContentBottomItems">
            <span class="fs-5 fw-bold" style="color: var(--color-primary)"
              >Date</span
            >
            <p>
              Le percepteur
            </p>
          </div>
          <div class="modalContentBottomItems">
            <span class="fs-5 fw-bold" style="color: var(--color-primary)"
              >Mentor</span
            >
            <p>
              Le percepteur
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-white w-25"
          data-bs-dismiss="modal"
          style="background-color: var(--color-primary)"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
